* {
    margin: 0;
}
#box1 {
    font-size: 30px;
    background-color: brown;
    border: 2px solid blue;
    margin-bottom: 10px;
    font-family: cursive;
}
#box2 {
    font-size: 30px;
    border: 2px dashed skyblue;
    padding: 10px;
}